body {
    box-sizing: border-box;
}

#menu{
	width: 35px;
	height: 30px;
	margin: 30px 0 20px 15px;
    cursor: pointer;
}

.bar{
	height: 5px;
	width: 100%;
	background-color: #1520b8;
	display: block;
	border-radius: 5px;
    transition: 0.3s ease;
}

#bar1{
	transform: translateY(-4px);
}

#bar3{
	transform: translateY(4px);
}

.nav li a{
	color: rgb(9, 24, 241);
    text-decoration: none;
    font-size: 16px;
}

.nav li a:hover{
    font-weight: bold;
    color: forestgreen;
}

.nav li{
	list-style: none;
    padding: 16px 0;
}

.nav{
	padding: 0;
	margin: 0 15px;
	transition: 0.3s ease;
    display: none;
    font-family: 'Exo 2', sans-serif;
    position: absolute;
}

.change .bar {
	background-color: #1520b8;
}

.change #bar1 {
	transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
	opacity: 0;
}

.change #bar3 {
	transform: translateY(-6px) rotate(45deg);
}

.change {
	display: block;
}

#headshot {
    width: 10em;
    height: 10em;
    margin: 0 auto;
    padding-top: 5px;
    padding-right: 25px;
    padding-left: 25px;
}

#bio {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    line-height:1.8em;
    color:rgb(10, 10, 10);
    background-color:#ffffff;
}

#mywork {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    line-height:1.8em;
    color:rgb(10, 10, 10);
    background-color:#ffffff;
}

h1 {
    padding-bottom: 20px;
}

.container {
    margin: 0 auto;
    padding: 20px 35px;
}

.link-color {
    color: black;
    font-family: 'Exo 2', sans-serif;
}

a:hover {
    font-weight: bold;
    color: forestgreen;
}

a:visited {
    color: orange;
}

.image-fit {
    border-radius: 100%;
    border: 1.5px solid black;
    width: 100%;
}

.image {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    border: 1.5px solid blue;
    width: 250px;
}

footer {
    width: 100%; 
    text-align: center;
    margin-top: 100px;
    padding-bottom: 3px;
}

@media screen and (min-width: 480px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        padding: 20px 35px;
    }

    #headshot {
        width: 15em;
        height: 15em;
        margin: 0 auto;
        padding-top: 55px;
        padding-right: 25px;
        padding-left: 25px;
    }

    .image {
        margin: 0 auto;
        display: flex;
        width: 400px;
    }
}

@media screen and (min-width: 780px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        padding: 20px 55px;
        width: 950px;
    }

    #headshot {
        width: 15em;
        height: 15em;
        margin: 0 auto;
        padding-top: 55px;
        padding-right: 25px;
        padding-left: 25px;
    }

    .image {
        margin: 0 auto;
        display: flex;
        width: 800px;
    }
}
