* {
    box-sizing: border-box;
}
  
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* footer {
}

.hamburger {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
}

@media screen and (min-width: 700px) {
    .hamburger {
        display: none;
    } */