body {
    box-sizing: border-box;
}

#navbar {

}

#headshot {
    width: 10em;
    height: 10em;
    margin: 0 auto;
    padding: 15px 25px;
}

#bio {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    line-height:1.8em;
    color:rgb(10, 10, 10);
    background-color:#ffffff;
    /* margin: 0 auto;
    padding: 20px 35px; */
}

#mywork {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    line-height:1.8em;
    color:rgb(10, 10, 10);
    background-color:#ffffff;
    /* margin: 0 auto;
    padding: 20px 35px; */
}

h1 {
    padding-bottom: 20px;
}

.row {

}

.container {
    margin: 0 auto;
    padding: 20px 35px;
}

.links {

}

.link-color {
    color: black;
}

.jumper {

}

.image-fit {
    border-radius: 100%;
    border: 1.5px solid black;
    width: 100%;
}

.image {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    border: 1.5px solid blue;
    width: 250px;
}

footer {
    width: 100%; 
    text-align: center; 
    margin-top: 100px;
}

@media screen and (min-width: 480px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        padding: 20px 35px;
    }

    #headshot {
        width: 15em;
        height: 15em;
        margin: 0 auto;
        padding: 20px 25px;
    }

    .image {
        margin: 0 auto;
        display: flex;        
        border: ;
        width: 400px;
    }
}

@media screen and (min-width: 780px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        padding: 20px 55px;
        width: 950px;
    }

    #headshot {
        width: 15em;
        height: 15em;
        margin: 0 auto;
        padding: 20px 25px;
    }

    .image {
        margin: 0 auto;
        display: flex;
        border: ;
        width: 800px;
    }
}
